/* Most of the loading css code is written by yi5 (and copilot) btw */
#loader {
    overflow: hidden;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    z-index: 1001;
    font-family: 'Lexend Deca', sans-serif; 
    color: var(--main-text-color);  
  }

  #loader.fadeOut {
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  
  #loader-wrapper .loader-section {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 51%;
    height: 100%;
    background: var(--loader-bg-color);
    z-index: 1000;
  }
  
  #loader-wrapper .loader-section.section-left {
    left: 0;
  }
  
  #loader-wrapper .loader-section.section-right {
    right: 0;
  }
  
  /* Ted wrote from here on */
  #loader-wrapper.loaded .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: all 0.7s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  #loader-wrapper.loaded .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 0.7s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loader-info {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    z-index: 1002;
    font-family: 'Lexend Deca', sans-serif; 
    color: var(--main-text-color);  
  }